{% extends "master.html" %}
{% block content %}

<div class="page-header">
	<h2>Userlist</h2>
</div>
<div style="padding-bottom: 10px">
	<ul class="nav nav-pills">
		<li>
			<a href="{% url 'auth_user_list' %}">Userlist</a>
		</li>
		<li class="active"><a href="#">Affiliation</a></li>
	</ul>
</div>

<div class="form-group pull-right">
	<input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
<table class="table table-striped table-bordered table-hover tablesorter results">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Sponsors</th>
			<th>Projects</th>
		</tr>
		<tr class="warning no-result">
			<td colspan="4"><i class="fa fa-warning"></i> No result</td>
		</tr>
	</thead>
	<tbody>
		{% for user in object_list %}
			<tr>
				<td>{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>
					{% for proj in user.sponsorparticipation.all %}
						{{proj.projectName}}
					{% endfor %}
				</td>
				<td>
					{% for proj in user.projects.all %}
						{{proj.projectName}}
					{% endfor %}
					{% for proj in user.projectparticipation.all %}
						{{proj.projectName}}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>

</table>
<script>
	$(document).ready(function () {
		$(".tablesorter").tablesorter();

        $(".search").keyup(function () {
			var searchTerm = $(".search").val();
			var listItem = $('.results tbody').children('tr');
			var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

    		$.extend($.expr[':'], {'containsi': function(elem, i, match, array){
    				return (
                        elem.textContent ||
                        elem.innerText ||
                        ''
                    ).toLowerCase().indexOf(
                        (match[3] || "").toLowerCase()
                    ) >= 0;
    			}
    		});

    		$(".results tbody tr").not(":containsi('" + searchSplit + "')")
            .each(function(e){
    			$(this).attr('visible','false');
    		});

    		$(".results tbody tr:containsi('" + searchSplit + "')")
            .each(function(e){
    			$(this).attr('visible','true');
    		});

    		var jobCount = $('.results tbody tr[visible="true"]').length;
    			$('.counter').text(jobCount + ' item');

    		if(jobCount == '0') {
                $('.no-result').show();
            }
    		else {
                $('.no-result').hide();
            }
		});

	});
</script>

{% endblock %}
