{% extends "master.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
	<h2>Userlist</h2>
</div>
<div style="padding-bottom: 10px">
	<ul class="nav nav-pills">
		<li class="active">
			<a href="#">Userlist</a>
		</li>
		<li><a href="{% url 'auth_user_affil' %}">Affiliation</a></li>
	</ul>
</div>

<div class="form-group pull-left controls" style="margin-left: 20px;">
	<label for="show-only-team" class="checkbox"><input id="show-only-team" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_team' %} </label>
</div>
<div class="form-group pull-left controls" style="margin-left: 30px;">
	<label for="show-only-users" class="checkbox"><input id="show-only-users" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_users' %} </label>
</div>

<div class="form-group pull-right">
	<input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
<table class="table table-striped table-bordered table-hover tablesorter results">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>E-Mail</th>
			<th>Properties</th>
			<th>Actions</th>
		</tr>
		<tr class="warning no-result">
			<td colspan="4"><i class="fa fa-warning"></i> No result</td>
		</tr>
	</thead>
	<tbody>
		{% for user in object_list %}
			<tr{% if user.is_staff or user.legacy_profile.is_orga %} class="team"{% endif %}>
				<td>{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
				<td>{% if user.is_active %}<a href="#" data-toggle="tooltip" title="User is activated"><span class="glyphicon glyphicon-ok"></span></a> {% else %}<a href="#" data-toggle="tooltip" title="User has not yet been activated."><span class ="glyphicon glyphicon-ban-circle"></span></a>
				{% endif %}{% if user.is_staff %}<a href="#" data-toggle="tooltip" title="User is admin"><span class="glyphicon glyphicon-star"></span></a> {% endif %}
				{% if user.legacy_profile.is_orga %}<a href="#" data-toggle="tooltip" title="User is orga"><span class="glyphicon glyphicon-star"></span></a> {% endif %}
				{% if user.legacy_profile.authToken %}<a href="#" data-toggle="tooltip" title="User authToken: {{user.legacy_profile.authToken}}"><span class="glyphicon glyphicon-barcode"></span></a>{% endif %}
				</td>
				<td>
					{% if user.is_active %}
						<form action="{% url 'auth_user_disable' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Disable this user"><span class="glyphicon glyphicon-ban-circle"></span></button>
						</form>
					{% else %}
						<form action="{% url 'auth_user_enable' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Activate this user"><span class="glyphicon glyphicon-ok"></span></button>
						</form>
					{% endif %}
					{% if not user.is_staff %}
						<form action="{% url 'auth_user_makestaff' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Make this user staff member"><span class="glyphicon glyphicon-star"></span></button>
						</form>
					{% else %}
						<form action="{% url 'auth_user_revokestaff' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Revoke staff privileges from this user"><span class="glyphicon glyphicon-star-empty"></span></button>
						</form>
					{% endif %}
					{% if not user.legacy_profile.is_orga %}
						<form action="{% url 'auth_user_makeorga' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Make this user orga member"><span class="glyphicon glyphicon-star"></span></button>
						</form>
					{% else %}
						<form action="{% url 'auth_user_revokeorga' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Revoke orga privileges from this user"><span class="glyphicon glyphicon-star-empty"></span></button>
						</form>
					{% endif %}
					{% if user.legacy_profile.authToken %}
						<form action="{% url 'auth_user_remove_token' pk=user.legacy_profile.pk %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Remove the authentication token for this account"><span class="strike" style="padding-left:4px; padding-right:4px"><span class="glyphicon glyphicon-barcode"></span></span></button>
						</form>
					{% else %}
						<form action="{% url 'auth_user_gen_token' pk=user.id %}" method="post" style="display: inline">
							{% csrf_token %}
							<button data-toggle="tooltip" title="Add an authentication token for this account"><span style="padding-left:4px; padding-right:4px"><span class="glyphicon glyphicon-barcode"></span></span></button>
						</form>

					{% endif %}
					<form action="{% url 'auth_user_delete' pk=user.id %}" method="GET" style="display: inline">
						<button data-toggle="tooltip" title="Remove this user"><span class="glyphicon glyphicon-remove"></span></button>
					</form>
			</tr>
		{% endfor %}
	</tbody>

</table>
<script>
	$(document).ready(function () {
		$(".tablesorter").tablesorter({
            headers : {
                5 : {sorter : false},
                6 : {sorter : false}
            }
        });

		$("#show-only-team").change(function () {
			if ($(this).prop("checked")) {
				$("tbody > tr:not(.team)").hide();
			}
			else {
				$("tbody > tr:not(.team)").show();
			}
		});

		$("#show-only-users").change(function () {
			if ($(this).prop("checked")) {
				$(".team").hide();
			}
			else {
				$(".team").show();
			}
		});

        $(".search").keyup(function () {
			var searchTerm = $(".search").val();
			var listItem = $('.results tbody').children('tr');
			var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

    		$.extend($.expr[':'], {'containsi': function(elem, i, match, array){
    				return (
                        elem.textContent ||
                        elem.innerText ||
                        ''
                    ).toLowerCase().indexOf(
                        (match[3] || "").toLowerCase()
                    ) >= 0;
    			}
    		});

    		$(".results tbody tr").not(":containsi('" + searchSplit + "')")
            .each(function(e){
    			$(this).attr('visible','false');
    		});

    		$(".results tbody tr:containsi('" + searchSplit + "')")
            .each(function(e){
    			$(this).attr('visible','true');
    		});

    		var jobCount = $('.results tbody tr[visible="true"]').length;
    			$('.counter').text(jobCount + ' item');

    		if(jobCount == '0') {
                $('.no-result').show();
            }
    		else {
                $('.no-result').hide();
            }
		});
	});
</script>

{% endblock %}
