{% load i18n %}
<div class="panel-group" role="tablist" id="accordion" aria-multiselectable="true">
    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingOne"> 
            <h4 class="panel-title"> 
                <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    {% trans 'faq_item_1' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseOne" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_1' %}
            </div> 
        </div> 
    </div> 
    
    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingTwo"> 
            <h4 class="panel-title"> 
                <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                    {% trans 'faq_item_2' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseTwo" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_2' %}
            </div> 
        </div> 
    </div>
   
    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingThree"> 
            <h4 class="panel-title"> 
                <a href="#collapseThree" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                    {% trans 'faq_item_3' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseThree" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_3' %}
            </div> 
        </div> 
    </div>

    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingFour"> 
            <h4 class="panel-title"> 
                <a href="#collapseFour" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
                    {% trans 'faq_item_4' %}
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseFour" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                    {% trans 'faq_text_4' %}
            </div> 
        </div> 
    </div>    

    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingFive"> 
            <h4 class="panel-title"> 
                <a href="#collapseFive" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFive" class="collapsed">
                    {% trans 'faq_item_5' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseFive" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_5' %}
            </div> 
        </div> 
    </div>




    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingSix"> 
            <h4 class="panel-title"> 
                <a href="#collapseSix" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSix" class="collapsed">
                    {% trans 'faq_item_6' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseSix" aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_6' %}
            </div> 
        </div> 
        </div> 
        
    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingSeven"> 
            <h4 class="panel-title"> 
                <a href="#collapseSeven" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSeven" class="collapsed">
                    {% trans 'faq_item_7' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseSeven" aria-labelledby="headingSeven" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_7' %}
            </div> 
        </div> 
    </div>
    
    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingEight"> 
            <h4 class="panel-title"> 
                <a href="#collapseEight" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseEight" class="collapsed">
                    {% trans 'faq_item_8' %} 
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseEight" aria-labelledby="headingEight" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_8' %}
            </div> 
        </div> 
    </div>

    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingNine"> 
            <h4 class="panel-title"> 
                <a href="#collapseNine" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseNine" class="collapsed">
                    {% trans 'faq_item_9' %}
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseNine" aria-labelledby="headingNine" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_9' %}
            </div> 
        </div> 
    </div>    

    <div class="panel panel-default"> 
        <div class="panel-heading" role="tab" id="headingTen"> 
            <h4 class="panel-title"> 
                <a href="#collapseTen" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTen" class="collapsed">
                    {% trans 'faq_item_10' %}
                </a> 
            </h4> 
        </div> 
        <div class="panel-collapse collapse" role="tabpanel" id="collapseTen" aria-labelledby="headingTen" aria-expanded="false" style="height: 0px;"> 
            <div class="panel-body">  
                {% trans 'faq_text_10' %}
            </div> 
        </div> 
    </div>   

</div>