{% extends "master.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
	<h2>{% trans 'text_register_new' %}</h2>
</div>
{% if date_today > reg_deadline_booth %}
	<div class="alert alert-danger">
			{% trans 'text_reg_deadline' %} {{reg_deadline_booth|date:"d.m.Y"}}. {% trans 'text_reg_contact_us' %}
	</div>
{% endif %}

{% crispy form form.helper%}


{% endblock %}
