{% extends "master.html" %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
			<div class="container" style="padding-bottom: 100px; width: 100%;">
{% endblock %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_list_projects' %} ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li>
		<a href="{% url 'project_list' %}">{% trans 'text_information_view' %}</a>
	</li>
	<li>
		<a href="{% url 'project_list_planning' %}">{% trans 'text_planning_view' %}</a>
	</li>
	<li class="active"><a href="#">{% trans 'text_hall_view' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_xls_hall' %}" data-toggle="tooltip" title="{% trans 'text_download_xls' %}">{% trans 'text_xls_export' %}</a></li>
</ul>

<div class="form-group pull-left controls" style="margin-left: 20px;">
	<label for="show-only-accepted" class="checkbox"><input id="show-only-accepted" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_accepted' %}</label>
</div>

<div class="form-group pull-right">
    <input type="search" class="search form-control" data-column="all" placeholder="search any column">
</div>
<span class="counter pull-right"></span>
<div class="table_wrapper">
    <table class="table table-striped table-bordered table-hover tablesorter results">
    	<thead>
    		<tr>
    			<th class="filter-false sorter-false resizable-false">Actions</th>
    			<th>Project name</th>
    			<th>Project type</th>
    			<th>Project status</th>
    			<th>Booth status</th>
    			<th>Hall status</th>
    			<th>Tables req</th>
    			<th>Tables plan</th>
    			<th>Tables res</th>
    			<th>Benches req</th>
    			<th>Benches plan</th>
    			<th>Benches res</th>
    			<th>Chairs req</th>
    			<th>Chairs plan</th>
    			<th>Chairs res</th>
    			<th>Size req</th>
    			<th>Size plan</th>
    			<th>Power req</th>
    			<th>Power plan</th>
    			<th>Area</th>
    			<th>Location</th>
    			<th>Description</th>
    			<th>Additional</th>
    			<th>Extras Comment</th>
    			<th>Own</th>
    			<th>Safety</th>
    			<th>Comment</th>
    			<th>LastMinute</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for project in object_list %}
    			<tr{% if project.accepted %} class="success"{% elif project.createDate > reg_deadline_booth %} class="danger"{% endif %}>
    				<td>
    					<a href="{% url 'project_internal' pk=project.pk %}" target="_blank" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
    				</td>
    				<td scope="row">{{project.projectName}}</td>
    				<td>{{project.get_projecttype_display}}</td>
    				<td>{{project.get_projectStatus_display}}</td>
    				<td>{{project.get_boothStatus_display}}</td>
    				<td>{{project.get_boothHallStatus_display}}</td>
    				<td>{{project.boothTables}}</td>
    				<td>{{project.boothTablesPlan}}</td>
    				<td>{{project.boothTablesRes}}</td>
    				<td>{{project.boothBenches}}</td>
    				<td>{{project.boothBenchesPlan}}</td>
    				<td>{{project.boothBenchesRes}}</td>
    				<td>{{project.boothChairs}}</td>
    				<td>{{project.boothChairsPlan}}</td>
    				<td>{{project.boothChairsRes}}</td>
    				<td>{{project.boothSize}}</td>
    				<td>{{project.boothSizePlan}}</td>
    				<td>{{project.get_boothPower_display}}</td>
    				<td>{{project.get_boothPowerPlan_display}}</td>
    				<td>{{project.get_boothArea_display}}</td>
    				<td>{{project.boothLocation}}</td>
    				<td>{{project.boothDescription}}</td>
    				<td>{{project.boothExtras}}</td>
    				<td>{{project.boothExtrasComment}}</td>
    				<td>{{project.boothOwn}}</td>
    				<td>{{project.boothSafety}}</td>
    				<td>{{project.boothComment}}</td>
    				<td>{{project.boothLastMinute}}</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
<script>
	$(document).ready(function () {
		$('.tablesorter').tablesorter({
            sortList: [[1,0]],
            headers : {
                0: {
                    sorter: false,
                    filter: false,
                },
            },
            // theme: 'blue',
            widgets: ['filter'],
            // widgets: ['zebra', 'resizable', 'filter'],
            widgetOptions : {
                // https://mottie.github.io/tablesorter/docs/example-widget-filter-any-match.html
                // Set to use a jQuery selector (or jQuery object) pointing to the
                // external filter (column specific or any match)
                filter_external : '.search',
                // add a default type search to the first name column
                // filter_defaultFilter: { 6 : '~{query}' },
                // include column filters
                filter_columnFilters: true,
                // filter_placeholder: { search : 'Search...' },
                filter_saveFilters : true,
                // filter_reset: '.reset'
            },
        });

        $('#show-only-accepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_not_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

        $('#show-only-notaccepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

	});
</script>

{% endblock %}
