{% extends "master.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% include "project/alltabshead.html" %}

<ul class="nav nav-tabs nav-tabs-bordered">
	<li><a href="{% url 'project_update_general' pk=object.pk %}">{% trans 'text_link_general' %}</a><li>
	<li><a href="{% url 'project_update_texts' pk=object.pk %}">{% trans 'text_link_project' %}</a><li>
	<li><a href="{% url 'project_update_service' pk=object.pk %}">{% trans 'text_link_service' %}</a><li>
	<li><a href="{% url 'project_update_booth' pk=object.pk %}">{% trans 'text_link_booth' %}</a><li>
	<li class="active"><a href="#">{% trans 'text_link_talk' %}</a><li>
	<li><a href="{% url 'project_update_workshop' pk=object.pk %}">{% trans 'text_link_workshop' %}</a><li>
	<li><a href="{% url 'project_participants' pk=object.pk %}">{% trans 'text_link_participants' %}</a><li>
	{% if user.is_authenticated and user.is_staff or user.legacy_profile.is_orga %}
	<li><a href="{% url 'project_internal' pk=object.pk %}">Internal</a><li>
	{% endif %}
</ul>

<div class="tab-content tab-bordered">
	<div class="tab-pane active" id="talk_info">
		<div class="row">
			<div class="col-md-8">
				<p class="text-info">
					
				</p>
			</div>
		</div>
		{% crispy form form.helper%}
	</div>
</div>

{% if user.is_authenticated and user.is_staff == False or user.legacy_profile.is_orga == False %}
<script>

$(function() {
  $(".auto_submit_form").change(function() {
		var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
         });

    e.preventDefault();
  });
});

</script>
{% endif %}

{% endblock %}
